@import url('./variables.less');

.boxShadow(@data) {
	-webkit-box-shadow: @data;
	-moz-box-shadow: @data;
	box-shadow: @data;
}

.arrow-right(@height, @color, @position: auto) {
	&:before {
		content: "";
	    display: block;
	    width: 0; 
	    height: 0; 
	    border-top: @height solid transparent;
	    border-bottom: @height solid transparent;
	    border-right: @height solid @color; 
	    position: absolute;
	    top: @position;
	    left: -@height;
	}
}

.arrow-up(@height, @color, @position: auto, @left: auto) {
	&:before {
		content: "";
	    display: block;
	    width: 0; 
	    height: 0; 
	    border-bottom: @height solid @color;
	    border-right: @height solid transparent;
	    border-left: @height solid transparent; 
	    position: absolute;
	    top: @position;
	    left: @left;
	}
}

.borderRadius(@data) {
	-webkit-border-radius: @data;
	-moz-border-radius: @data;
	border-radius: @data;
}

@font-face {
  font-family: "Lucida Grande";
  src: url("Lucida Grande.ttf");
}

body {
	font-family: "Lucida Grande", serif;
	letter-spacing: 0.45px;
}

.clearfix {
	zoom: 1;

	&:before,
	&:after { 
		content: "";
		display:table;
	}
	&:after {
		clear: both;
	}
}

#header {
	background-image: url('img/header-bg.png');
	background-repeat: repeat-x;
	height: 28px;
	.boxShadow(0 1px 3px #b6b6b6);
	padding-top: 9px;

	.container {
		width: @content-width;
		margin: 0 auto;
		.clearfix;
	}
}

.logo-container {
	width: @col-right-width;
	.clearfix;
	float: left;
}

.col-right {
	width: @col-right-width;
	.clearfix;
	float: left;
	padding-top: 20px;
}

.col-center {
	width: 493px;
	float: left;
	.clearfix;
	margin-left: 10px;
	padding-left: 20px;
	border-left: 1px solid #cccccc;
	padding-top: 20px;
}

#logo {
	display: block;
	width: 89px;
	float: left;
}

#user-actions {
	float: left;
	.clearfix;
	margin-left: 12px;
	margin-top: 4px;

	.item {
		width: 16px;
		height: 16px;
		margin-left: 10px;
		float: left;
		background-repeat: no-repeat;
		cursor: pointer;	
		
		&:first-child {
			margin-left: 0;
		}

		&.friends {
			background-image: url('img/friend-request.png');
		}

		&.messages {
			margin-top: 1px;
			background-image: url('img/message-action.png');
		}

		&.updates {
			background-image: url('img/updates.png');
		}
	}
}

#search {
	position: relative;
	margin-left: 9px;
	float: left;

	input {
		width: 315px;
		color: #666666;
		height: 22px;
		line-height: 22px;
		padding: 0 25px 0 6px;
		.borderRadius(1px);
		.boxShadow(inset 0 1px #d9d9d9);
		border: solid 1px #294a8f;
		font-size: 11px;

		&:focus {
			outline: none;
		}
	}

	#search-icon {
		display: block;
		position: absolute;
		right: 6px;
		top: 5px;
		width: 17px;
		height: 16px;
		background-image: url('img/search.png');
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: 5px 2px;
		border-left: 2px solid #e5e5e5;
		cursor: pointer;
	}
}

#user-toolbar {
	float: right;

	img {
		.borderRadius(1px);
		border: solid 1px #294a8f;
		float: left;
	}
	
	.items {
		.clearfix();
		float: left;
		height: 14px;
		margin-top: 4px;
	}

	.item {
		border-right: 1px solid #4f6ca6;
		font-size: 11px;
		color: #d8dfea;
		display: block;
		float: left;
		margin-left: 8px;
		padding-right: 8px;
		font-weight: bold;
		cursor: pointer;
	}

	.more {
		background-image: url('img/arrow-white.png');
		width: 7px;
		padding: 5px 10px 5px 8px;
		float: left;
		background-repeat: no-repeat;
		background-position: 8px 5px;
		cursor: pointer;
	}
}

#content {
	width: @content-width;
	margin: 0 auto;

	.profile-image {
		margin-left: -5px;
	}
	
	.col-right {
		.section {
			border-top: 1px solid #eeeeee;
			padding-bottom: 10px;
			padding-left: 5px;
			.clearfix;

			&:first-child {
				border-top: none;
			}

			h3 {
				color: #808080;
				float: left;
				margin: 0;
				font-size: 11px;
				padding-top: 8px;
			}

			.see-all {
				float: right;
				text-decoration: none;
				color: #3b5998;
				font-size: 11px;
				padding-top: 8px;
			}
		}	
	}
}

.profile-tabs {
	margin-top: 5px;

	.item {
		color: #333333;
		font-size: 11px;
		height: 22px;
		line-height: 22px;
		.clearfix;
		margin-top: 2px;
		padding-left: 5px;
		margin-left: -5px;
		
		&:first-child {
			margin-top: 0;
		}

		&:hover {
			background-color: #d8dfea;
			font-weight: bold;
		}
		
		.text {
			display: block;
			float: left;
			margin-left: 6px;
			cursor: pointer;

			.new {
				color: #808080;
			}
		}

		.icon {
			display: block;
			float: left;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			margin-top: 3px;

			&.wall {
				background-image: url('img/wall.png');
			}

			&.info {
				background-image: url('img/info.png');
			}

			&.friend-activity {
				background-image: url('img/friends.png');	
			}

			&.photos {
				background-image: url('img/photo.png');
			}

			&.events {
				background-image: url('img/events.png');
			}

			&.tabbuilder {
				background-image: url('img/tabbuilder.png');
			}
		}
	}
}

.like-count {
	margin-top: 15px;
	line-height: 95%;

	strong {
		font-size: 18px;
		font-weight: bold;
	}

	small {
		font-size: 11px;
	}
}

.liked-pages {
	margin-top: 10px;

	.item {
		margin-top: 7px;
		.clearfix;

		&:first-child {
			margin-top: 0;
		}

		img {
			display: block;
			float: left;
			width: 50px;
		}

		.text {
			display: block;
			float: left;
			margin-left: 10px;
			padding-top: 5px;
			width: 80px;
			font-weight: bold;
			font-size: 11px;
			color: #3b5998;
		}
	}
}

.page-actions {
	margin-top: 5px;

	.item {
		color: #3b5998;
		font-size: 11px;
		display: block;
		text-decoration: none;
	}
}

.wall {
	.page-title {
		font-weight: bold;
		font-size: 20px;
		padding-bottom: 10px;
	}

	.subtitle {
		font-size: 11px;

		.type {
			color: #808080;
		}

		.location {
			color: #37589a;
		}
	}

	.recent-photoes {
		margin-top: 10px;
		.clearfix;

		.item {
			float: left;
			margin-left: 2px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.wall-header {
		margin-top: 10px;
		border-top: 1px solid #e2e2e2;
		background-color: #f2f2f2;
		padding: 6px 13px 10px 5px;
		font-size: 11px;
		position: relative;

		.inner {
			position: absolute;
			right: 13px;
			top: 6px;
		}

		.hike {
			color: #3b5998;
			display: inline;
			font-weight: bold;
		}

		.mode {
			color: #333333;
			cursor: pointer;
			font-weight: bold;
			display: inline;
		}

		.toggle {
			width: 9px;
			height: 5px;
			background-image: url('img/arrow-blue.png');
			background-repeat: no-repeat;
			display: inline-block;
		}
	}

	.share-toolbar {
		.clearfix;
		padding: 10px 0;

		.title {
			font-weight: bold;
			color: #808080;
			float: left;
			font-size: 11px;
		}
	}

	.actions {
		.clearfix;
		float: left;
		padding-left: 10px;

		.item {
			float: left;
			margin-left: 10px;
			.clearfix;


			.image {
				width: 16px;
				height: 16px;
				display: block;
				float: left;
				background-repeat: no-repeat;

				&.status {
					background-image: url('img/status.png');
				}

				&.photo {
					background-image: url('img/photo.png');
				}

				&.link {
					background-image: url('img/link.png');
				}

				&.video {
					background-image: url('img/video.png');
				}

				&.question {
					background-image: url('img/question.png');
				}
			}

			.text {
				display: block;
				float: left;
				color: #3b5998;
				font-size: 11px;
				padding-left: 3px;
				line-height: 14px;
			}

			&.active {
				.text {
					color: #333;
					font-weight: bold;
				}
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.wall-input-container {
		position: relative;

		.arrow-outer {
			width: 100%;
			.arrow-up(7px, #727272, -7px, 70px);
		}

		.arrow-inner {
			width: 100%;
			.arrow-up(7px, #fff, -6px, 70px);
		}
	}

	.wall-input {
		display: block;
		border: 1px solid #b3bbce;
		padding: 6px 0 6px 6px;
		font-size: 13px;
		color: #777777;
		width: 100%;
	}
}